.Post{
    background-color: white;
    max-width: 500px;
    border: 1px solid lightgray;
    margin-bottom: 45px;
}
.postImage{
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.postText{
    font-weight: normal;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
}
.postHeader{
    display: flex;
    align-items: center;
    padding: 20px;
   
}
.postAvatar{
    margin-right: 10px;
}
.cmntform{
    display: flex;
    margin-top: 10px;
   
    border-top: 1px solid lightgray;
}
.comments{
    flex:1;
    border: none;
    padding: 10px;
}
.btm{
    flex:0;
     
   
}
.postComments{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

